@charset "UTF-8";
*{
    margin: 0px;
    padding: 9px;
}
body{
    background-color: #c5ebd6;
}
header{
    background-image: linear-gradient(to bottom, rgb(98, 212, 98), rgb(2, 24, 0)80%);
    color: white;
    min-height: 150px; 
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -22px;
    margin-bottom: 0px;
    padding-top: 40px;
    
}
header>h1{
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}
header>p{
    text-align: center;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
}
nav{
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -22px;
    margin-bottom: 0px;
    background-color: rgb(2, 24, 0);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.26);
    
}
nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover{
    background-color: rgb(47, 100, 47);
    color: rgb(1, 78, 7);
    border-radius: 5px;
    transition-duration: .5s;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong {
    color: rgb(38, 141, 56);
    font-weight: bold;
    background-color:rgba(68, 145, 74, 0.247);
    padding: 1px;
}
main a {
    text-decoration:none;
    font-weight: bold;
    color:rgb(38, 141, 56);
    padding: 2px 5px;
}
main a:hover {
    color: rgb(78, 141, 88);
}
main h2{
    color: rgb(26, 73, 30);
    font-size: 1.3em;
}
main{
    min-width: 300px;
    max-width: 1000px; 
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    max-width: 830px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}
picture>img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
footer{
    background-color: darkgreen;
    color: white;
}

